@import '../../../../main';

.mailing-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  &__header {
	width: 100%;
	padding: 1rem;
	background: $dark-background;
	color: $dark-grey-color;
  }
  &__form {
	padding-top: 2rem;
	width: 55%;
	&__check {
	  display: flex;
	  align-items: center;
	}
	&__check div {
	  padding-left: .5rem;
	}
  }
  &__form input::placeholder {
	font-size: 13px;
  }
  &__form textarea::placeholder {
	font-size: 13px;
  }
}