@import '../../../../main';

.orders-container {
  padding: 2rem;
  &__header {
	padding: 1rem;
	background: $dark-background;
	color: $dark-grey-color;
  }
  &__list-group {
	&__list-group-item {
	  cursor: pointer;
	}
	&__list-group-item:hover {
	  background: $light-background;
	}
  }
}