@import '../../../main';

.modal-body {
  &__header {
	text-align: center;
  }
  &__main {
	text-align: center;
  }
  &__footer {
	display: flex;
	justify-content: center;
	padding-top: 1rem;
  }
}

.danger-text {
  color: $error-input-border;
}