@import "../../../main";

.card-dev {
  box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.05);
  transition-property: all;
  transition-duration: 1s;
  cursor: pointer;
  &__footer {
	display: flex;
	justify-content: space-between;
  }
}

.card-dev:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  z-index: 10 !important;
}

.btn {
  font-size: 13px;
}

.card-body {
  padding: .5rem;
}

.card-body h4 {
  color: $dark-blue-color;
  font-weight: 700;
  text-shadow: 1px 2px 5px $dark-grey-color;
  background: $light-background;
  border: 1px $dark-grey-transparent-color solid;
  border-radius: 5px;
  text-align: center;
}

.card-body h5 {
  overflow-y: hidden;
  height: 3rem;
  max-height: 3rem;
  color: $dark;
  font-weight: 400;
}

.card-body h6 {
  border-radius: 5px;
  background: $yellow-transparent-color;
  border: 1px $dark-yellow-transparent-color solid;
  padding: .3rem;
  text-align: center;
}

.prices-box {
  display: flex;
  justify-content: space-between;
}

.price-with-discount {
  text-decoration: line-through;
}

.card-img-top {
  min-height: 15rem;
  max-height: 15rem;
}

.discount-box {
  position: absolute;
  top: 1rem;
  left: -1rem;
  font-size: 18px;
  background: $red;
  border-radius: 5px;
  padding: .4rem 2rem;
  color: white;
  transform: rotate(-45deg);
}

@media (max-width: 1230px) {
  .card-dev {
	&__footer {
	  flex-direction: column;
	}
  }
  .btn {
	margin-bottom: .2rem;
  }
}

@media (max-width: 990px) {
  .card-dev {
	&__footer {
	  flex-direction: row;
	}
  }
  .btn {
	margin-bottom: 0;
  }
}

@media (max-width: 760px) {
  .card-dev {
	&__footer {
	  flex-direction: column;
	}
  }
  .btn {
	margin-bottom: .2rem;
  }
}

@media (max-width: 576px) {
  .card-dev {
	&__footer {
	  flex-direction: row;
	}
  }
  .card-dev {
	margin-bottom: 0;
  }
}