@import "../../../../main";

.contacts-cont {
  padding: 2rem;
  min-height: 100vh;

  &__contacts-box {
	background-color: $light-background;
	border: 1px solid $dark-grey-color;
	border-radius: 5px;
	padding: 2rem;
  }
}