@import '../../../../../main';

.user-info-container {
  padding: 2rem;
  &__header {
	display: flex;
	justify-content: space-between;
	padding: 1rem;
	background: $dark;
	color: $dark-grey-color;
  }
}

.info-products-container {
  padding: 2rem;
  &__header {
	padding: 1rem;
	background: $dark;
	color: $dark-grey-color;
  }
}

.order-info-container {
  padding: 2rem;
  &__header {
	padding: 1rem;
	background: $dark;
	color: $dark-grey-color;
  }
}

.order-status-nav-box {
  padding-top: .5rem;
  display: flex;
  justify-content: center;
}

.order-status-nav-box button {
  margin: .3rem;
}

@media print {
  .container-adm-panel__navigation {
	display: none;
  }
  .info_container {
	display: none;
  }
  .footer-cont {
	display: none;
  }
  .user-info-container {
	&__header {
	  &__print-btn {
		display: none;
	  }
	}
  }
  .order-info-container {
	&__status {
	  display: none;
	}
  }
  .info-products-container a {
	text-decoration: none;
	color: black;
  }
}