@import '../../../../../main';

.user-info-container {
  padding: 2rem;
  &__header {
	padding: 1rem;
	background: $dark-background;
	color: $dark-grey-color;
  }
}

.info-products-container {
  padding: 2rem;
  &__header {
	padding: 1rem;
	background: $dark-background;
	color: $dark-grey-color;
  }
}

.order-info-container {
  padding: 2rem;
  &__header {
	padding: 1rem;
	background: $dark-background;
	color: $dark-grey-color;
  }
}

.order-status-nav-box {
  padding-top: .5rem;
  display: flex;
  justify-content: center;
}

.order-status-nav-box button {
  margin: .3rem;
}