.expanded-nav {
  &__header {
	background: #252525;
	color: white;
	padding: .75rem 1.25rem;
	border-radius: 5px;
	box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, .125);
  }
  &__body {
	padding: 1rem;
	&__price {
	  &__header {
		display: flex;
		cursor: pointer;
	  }
	  &__from-to {
		padding-bottom: 1rem;
		padding-top: 1rem;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
	  }
	  &__from-to input {
		max-width: 5rem;
		text-align: center;
	  }
	}
	&__filter-name {
	  &__header {
		padding-top: 1rem;
		display: flex;
		cursor: pointer;
	  }
	  &__colors {
		padding-bottom: 1rem;
		padding-top: 1rem;
		display: flex;
		justify-content: space-between;
	  }
	  &__suggest-cont {
		&__item {
		  display: flex;
		  align-items: center;
		  justify-content: space-between;
		}
		&__item input {
		  border: none;
		  -webkit-transform: scale(2);
		  -moz-transform: scale(2);
		  -ms-transform: scale(2);
		  -o-transform: scale(2);
		  transform: scale(2);
		  cursor: pointer;
		}
	  }
	}
	&__search-but {
	  width: 100%;
	  margin-top: 1rem;
	}
  }
}

.chevron {
  cursor: pointer;
}

.chevron:hover {
  color: #007bff;
}

.color-div {
  min-width: 2rem;
  min-height: 1rem;
  cursor: pointer;
  border: 1px #d3d3d3 solid;
}