$error-input-border: #ff5555;
$error-input-shadow: 0 0 0 .2rem rgba(255, 123, 123, .25);

$red: #fd5151d6;

$dark: #252525;
$lightest-background: #f3f3f3;
$light-background: #e3e3e3e3;
$dark-grey-color: #d3d3d3;
$dark-grey-transparent-color: #d3d3d3d3;
$yellow-transparent-color: #ece9b9e6;
$dark-yellow-transparent-color: #afa30c69;

$green-blue: #17a2b8;
$dark-blue-color: #10498A;
$primary: #007bff;