$error-input-border: #ff5555;
$error-input-shadow: 0 0 0 .2rem rgba(255, 123, 123, .25);

$red: rgba(253, 81, 81, .84);

$dark: #252525;
$lime-green: #03a000;
$most-light-background: #f6f6f6;
$lightest-background: #f3f3f3;
$light-background: rgba(227, 227, 227, .89);
$dark-grey-color: #d3d3d3;
$dark-grey-transparent-color: rgba(211, 211, 211, .23);
$yellow-transparent-color: rgba(236, 233, 185, .9);
$dark-yellow-transparent-color: rgba(175, 163, 12, .41);

$green-blue: #17a2b8;
$dark-blue-color: #10498A;
$primary: #007bff;