$error-input-border: #ff5555;
$error-input-shadow: 0 0 0 .2rem rgba(255, 123, 123, .25);

$dark-background: #252525;
$light-background: #f3f3f3;
$dark-grey-color: #d3d3d3;

$green-blue: #17a2b8;
$dark-blue-color: #10498A;
$primary: #007bff;