@import "../../main";

.delivery-cont {
  padding: 2rem;
  min-height: 100vh;

  &__delivery-pay-box {
	background-color: $light-background;
	border: 1px solid $dark-grey-color;
	border-radius: 5px;
  }
}