@import '../../../../../main';

.edit-container {
  padding: 2rem;
  &__header {
	padding: 1rem;
	background: $dark;
	color: $dark-grey-color;
  }
  &__search-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem;
  }
  &__search-box input {
	width: 50%;
  }
  &__product-list-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	&__list-group {
	  width: 50%;
	  &__item {
		cursor: pointer;
		display: flex;
		justify-content: space-between;
		flex-direction: row;
	  }
	  &__item img {
		height: 5rem;
		max-width: 5rem;
		border-radius: 5px;
	  }
	  &__item:hover {
		background: $light-background;
		color: $dark;
	  }
	}
  }
  &__pagin-box {
	display: flex;
	justify-content: center;
	padding: 1rem;
  }
}

.table-head {
  background: $dark;
  color: $dark-grey-color;
}

.edit-product-img-td img {
  width: 10rem;
}

.not-found {
  text-align: center;
  color: $dark;
}