@import '../../../../../main';

.edit-container {
  padding: 2rem;
  &__header {
	padding: 1rem;
	background: $dark-background;
	color: $dark-grey-color;
  }
  &__search-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem;
  }
  &__search-box input {
	width: 50%;
  }
  &__product-list-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	&__list-group {
	  width: 50%;
	  &__item {
		cursor: pointer;
	  }
	  &__item:hover {
		background: $light-background;
		color: $dark-background;
	  }
	}
  }
  &__pagin-box {
	display: flex;
	justify-content: center;
	padding: 1rem;
  }
}

.table-head {
  background: $dark-background;
  color: $dark-grey-color;
}

.edit-product-img-td img {
  width: 10rem;
}

.selected-images-box {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.selected-images-box img {
  border-radius: 5px;
  max-height: 25rem;
  max-width: 20rem;
}

.not-found {
  text-align: center;
  color: $dark-background;
}