@import '../../../../main';

.action-on-users-container {
  &__menu {
	display: flex;
	justify-content: space-between;
	&__item {
	  display: flex;
	  flex-direction: column;
	}
  }
  &__menu a {
	display: flex;
	justify-content: center;
	width: 20rem;
	background: $dark-background;
	color: $dark-grey-color;
	min-height: 20rem;
	align-items: center;
	margin-top: 2rem;
  }
  &__menu a:hover {
	background: $green-blue;
	text-decoration: none;
  }
}

@media screen and (max-width: 1200px) {
  .action-on-users-container {
	&__menu {
	  align-items: center;
	  flex-direction: column;
	}
  }
}