.container-product {
  padding: 2rem 5rem 0 5rem;
  &__row {
	&__product-img-container {
	  &__main-img {
		display: flex;
		justify-content: center;
	  }
	  &__main-img img {
		max-height: 25rem;
		max-width: 20rem;
		min-width: 15rem;
	  }
	  &__sm-img {
		display: flex;
		padding: 2rem;
		justify-content: center;
	  }
	  &__sm-img img {
		transition-duration: .7s;
		transition-property: all;
		max-height: 4rem;
		max-width: 4rem;
		margin: .5rem;
		cursor: pointer;
		box-shadow: 1px 5px 10px 5px rgba(0, 0, 0, 0.125);
		border: 1px #d3d3d3 solid;
	  }
	  &__sm-img img:hover {
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
		-ms-transform: scale(1.1);
		-o-transform: scale(1.1);
		transform: scale(1.1);
		z-index: 10;
	  }
	}
	&__info-container {
	  border: 1px #d3d3d3 solid;
	  padding-top: 2rem;
	  padding-left: 3rem;
	  background: #f3f3f3;
	  border-radius: 5px;
	  &__main-info {
		&__price {
		  display: flex;
		  align-items: baseline;
		}
	  }
	  &__to-card {
		&__btn-to-card button {
		  margin: 2rem 2rem 2rem 0;
		}
	  }
	}
  }
}

.container-c-b {
  margin-top: 2rem;
  &__card-body-content {
	display: flex;
	justify-content: center;
	&__comment {
	  transition-property: all;
	  transition-duration: .7s;
	  padding: 2rem 3rem 2rem 3rem;
	  background: #f3f3f3;
	  max-width: 30rem;
	  min-width: 25rem;
	  min-height: 10rem;
	  border-radius: 10px;
	  box-shadow: 1px 1px 10px 3px rgba(0, 0, 0, 0.1);
	  border: 1px #d3d3d3 solid;
	  &__date {
		font-size: 10px;
	  }
	  &__userName {
		font-weight: 500;
		font-size: 20px;
	  }
	  &__commentBody {
		font-size: 16px;
	  }
	}
  }
  &__submit-box {
	padding: 2rem 3rem 2rem 3rem;
	display: flex;
	justify-content: center;
  }
  &__submit-box textarea {
	max-width: 30rem;
	max-height: 10rem;
	min-height: 3rem;
  }
  &__submit-box button {
	margin-left: 1rem;
	max-height: 3rem;
  }
}

.nav-item-dev {
  cursor: pointer;
}

.h4-dev {
  color: #252525;
  padding-right: 3rem;
}

.card-about-prod {
  margin-top: 3rem;
}

.card-header {
  background: #f3f3f3;
}

h3 {
  color: #10498A;
}

@media screen and (max-width: 760px) {
  .container-c-b {
	&__card-body-content {
	  &__comment {
		min-height: 8rem;
		max-width: 20rem;
		min-width: 17rem;
	  }
	}
  }
}