@import '../../main';

.container-product {
  padding: 2rem 5rem 0 5rem;
  min-height: 100vh;
  &__row {
	&__product-img-container {
	  &__main-img {
		display: flex;
		justify-content: center;
	  }
	  &__main-img img {
		max-height: 25rem;
		min-height: 25rem;
		max-width: 20rem;
		min-width: 15rem;
		border-radius: 5px;
		box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.125);
	  }
	  &__sm-img {
		display: flex;
		padding: 2rem;
		justify-content: center;
	  }
	  &__sm-img img {
		transition-duration: .7s;
		transition-property: all;
		max-height: 4rem;
		max-width: 4rem;
		margin: .5rem;
		cursor: pointer;
		box-shadow: 1px 5px 10px 5px rgba(0, 0, 0, 0.125);
		border-radius: 5px;
	  }
	  &__sm-img img:hover {
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
		-ms-transform: scale(1.1);
		-o-transform: scale(1.1);
		transform: scale(1.1);
		z-index: 10;
	  }
	}
	&__info-container {
	  border: 1px $dark-grey-color solid;
	  padding: 2rem;
	  background: $light-background;
	  border-radius: 5px;
	  display: flex;
	  flex-direction: column;
	  align-items: flex-start;

	  &__main-info {
		&__price {
		  display: flex;
		  align-items: baseline;
		}
		&__priceDiscount {
		  background: $yellow-transparent-color;
		  border: 1px $dark-yellow-transparent-color solid;
		  border-radius: 5px;
		  text-align: center;
		}
		&__price h3 {
		  color: $dark-blue-color;
		}
		&__hr {
		  width: 100%;
		}
	  }
	  &__to-card {
		&__btn-to-card button {
		  margin: 2rem 2rem 2rem 0;
		  padding: 1rem 4rem;
		  transition-property: all;
		  transition-duration: .7s;
		  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
		}
		&__btn-to-card button:hover {
		  transform: scale(1.1);
		}
	  }
	}
  }
}

.container-c-b {
  margin-top: 2rem;
  &__card-body-content {
	display: flex;
	justify-content: center;
	&__comment {
	  transition-property: all;
	  transition-duration: .7s;
	  padding: 1rem 2rem;
	  margin-bottom: .7rem;
	  background: $most-light-background;
	  max-width: 30rem;
	  min-width: 25rem;
	  min-height: 10rem;
	  border-radius: 10px;
	  box-shadow: 1px 1px 10px 3px rgba(0, 0, 0, 0.1);
	  border: 1px $dark-grey-color solid;
	  &__date {
		font-size: 10px;
		padding-top: .5rem;
	  }
	  &__userName {
		font-weight: 500;
		font-size: 20px;
	  }
	  &__commentBody {
		max-height: 20rem;
		font-size: 16px;
		padding: 1rem 0;
	  }
	  &__hr {
		margin-top: 0;
		margin-bottom: 0;
	  }
	}
  }
  &__submit-box {
	padding: 2rem 3rem 2rem 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  &__submit-box textarea {
	max-width: 30rem;
	max-height: 10rem;
	min-height: 3rem;
  }
  &__submit-box button {
	margin-left: 1rem;
	height: 3rem;
  }
}

.nav-item-dev {
  cursor: pointer;
}

.h4-dev {
  color: $dark;
  padding-right: 3rem;
}

.card-about-prod {
  margin-top: 3rem;
}

.card-header {
  background: $light-background;
}

.with-discount {
  text-decoration: line-through;
}

.description {
  padding: 2rem 0;
  background: $light-background;
  border: 1px $dark-grey-transparent-color solid;
  border-radius: 5px;
}

@media screen and (max-width: 760px) {
  .container-c-b {
	&__card-body-content {
	  &__comment {
		min-height: 8rem;
		max-width: 20rem;
		min-width: 17rem;
	  }
	}
  }
}