@import '../../../../../main';

.ec-container {
  padding: 2rem;
  &__header {
	padding: 1rem;
	background: $dark-background;
	color: $dark-grey-color;
  }
  &__table {
	margin-top: 3rem;
	&__thead {
	  background: $dark-background;
	  color: $dark-grey-color;
	}
	&__tbody {
	  &__tr {
		&__td {
		  &__input-group {
			display: flex;
			justify-content: center;
			padding: 1rem;
		  }
		  &__input-group button {
			margin: .2rem;
		  }
		}
		&__td select {
		  width: 100%;
		  height: 2rem;
		}
		&__td[is-prop-td="true"] {
		  display: flex;
		}
	  }
	}
  }
}