@import '../main';

.layout-container {
  min-width: 590px;
}

.invalid-input {
  border-color: $error-input-border;
  box-shadow: $error-input-shadow;
}

.invalid-input:focus {
  border-color: $error-input-border;
  box-shadow: $error-input-shadow;
}

.invalid-small {
  color: #ff5555 !important;
}