@import '../main';

.layout-container {
  min-width: 590px;
  font-family: 'Fira Sans Condensed', sans-serif;
}

.invalid-input {
  border-color: $error-input-border;
  box-shadow: $error-input-shadow;
}

.invalid-input:focus {
  border-color: $error-input-border;
  box-shadow: $error-input-shadow;
}

.invalid-small {
  color: #ff5555 !important;
}

.navbar-brand {
  font-size: 2rem;
  font-weight: bold;

  &__sub {
	font-size: 50%;
	padding-left: .2rem;
	font-weight: inherit;
  }
}