@import '../../../../main';

.mailing-cont {
  padding: 2rem;
  &__header {
	width: 100%;
	background: $dark-background;
	padding: 1rem;
	color: $dark-grey-color;
  }
  &__sub-form {
	padding-top: 3rem;
	&__box input::placeholder {
	  font-size: 13px;
	}
	&__box input {
	  font-size: 13px;
	}
  }
  &__sub-form button {
	padding: .5rem;
  }
}