@import "../../main";

.footer-cont {
  &__main {
	display: flex;
	justify-content: center;
	padding: 1rem 5rem;
	background: $light-background;
	font-size: 13px !important;
	&__contacts {
	  padding: 0 3rem;
	  &__main-text {
		font-weight: bold;
		font-size: 16px;
		text-align: center;
	  }
	  &__contact {
		display: flex;
		align-items: center;
		padding: .3rem 0;
	  }
	  &__contact div {
		padding-left: .3rem;
	  }
	}
	&__mailing {
	  &__text {
		font-size: 16px;
		font-weight: bold;
		text-align: center;
	  }
	}
	&__mailing button {
	  min-height: 100%;
	}
	&__mailing input {
	  font-size: 13px;
	}
  }
  &__sub-footer {
	background: $dark;
	color: $dark-grey-color;
	display: flex;
	padding: 1rem 5rem;
	flex-direction: column;
	align-items: center;
	font-size: 13px;
  }
}

@media screen and (max-width: 990px) {
  .footer-cont {
	&__main {
	  flex-direction: column;
	  align-items: center;
	}
  }
}