.container-p-card-place {
  padding: 2rem 5rem 0 5rem;

  &__footer {
    display: flex;
    justify-content: space-between;
    background: #f3f3f3;
    padding: 3rem 2rem 3rem 2rem;
    border: 1px #d3d3d3;
    &__total-info {

    }
    &__btn-continue {
      max-height: 2.3rem;
    }
  }
}

.btn-shadow-s {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
  transition-property: all;
  transition-duration: 0.7s;
}

.btn-shadow-s:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
