table {
  border: 1px solid #ccc;
  width: 100%;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
}

table tr {
  border: 1px solid #ddd;
  padding: 5px;
}

table th, table td {
  padding: 10px;
  text-align: center;
}

table th {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
}

table td[data-label=Вартість],
td[data-label=Кількість],
td[data-label=Ціна] {
  width: 15rem;
}

table td[data-label=Номер] {
  width: 4rem;
}

input[type=number] {
  max-width: 1.5rem;
  max-height: 2.05rem;
  text-align: center;
  border-right: none;
  border-left: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.product-img {
  max-width: 5rem;
  max-height: 5rem;
  min-width: 5rem;
  min-height: 5rem;
  border-radius: 5px;
}

.media-body {
  text-align: left;
}

@media screen and (max-width: 1200px) {
  .product-img {
	max-width: 3rem;
	max-height: 3rem;
	min-width: 3rem;
	min-height: 3rem;
  }
}

@media screen and (max-width: 600px) {

  .product-img {
	display: none;
  }

  .media-body {
	text-align: right;
  }

  table {
	border: 0;
  }

  table thead {
	display: none;
  }

  table tr {
	margin-bottom: 10px;
	display: block;
	border-bottom: 2px solid #ddd;
  }

  table td {
	display: block;
	text-align: right;
	font-size: 13px;
	border-bottom: 1px dotted #ccc;
  }

  table td[data-label=Вартість],
  td[data-label=Кількість],
  td[data-label=Ціна] {
	width: auto;
  }

  table td[data-label=Номер] {
	width: auto;
  }

  table td:last-child {
	border-bottom: 0;
  }

  table td:before {
	content: attr(data-label);
	float: left;
	text-transform: uppercase;
	font-weight: bold;
  }
}