@import '../../main';

.container-p-card-place {
  padding: 2rem 5rem;
  min-height: 100vh;
  &__header {
	&__main-text {
	  background: $light-background;
	  border: 1px $dark-grey-color solid;
	  border-radius: 5px;
	  margin-top: .5rem;
	}
  }
  &__footer {
	display: flex;
	justify-content: space-between;
	background: $light-background;
	padding: 3rem 2rem 3rem 2rem;
	border: 1px $dark-grey-color solid;
	border-radius: 5px;
	&__total-info {

	}
	&__btn-continue {
	  max-height: 2.3rem;
	}
  }
}

.btn-shadow-s {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
  transition-property: all;
  transition-duration: 0.7s;
}

.btn-shadow-s:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.product-name {
  color: $dark;
}

@media screen and (max-width: 620px) {
  .container-p-card-place {
	&__header {
	  display: flex;
	  flex-direction: column;
	}
	&__header button {
	  margin: 1rem 2rem 1rem 2rem;
	}
	&__footer {
	  flex-direction: column;
	  &__total-info {
		display: flex;
		padding-top: 1rem;
		flex-direction: column;
		align-items: center;
	  }
	}
  }
}
