.cp-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  &__header {
	width: 100%;
	background: #252525;
	padding: 1rem;
	color: #d3d3d3;
  }
  &__form {
	padding-top: 2rem;
	width: 55%;
  }
  &__form input::placeholder {
	font-size: 13px;
  }
}