@import "../../../main";

.nav-container {
  display: flex;
  flex-direction: column;
  background: $dark;
  min-height: 100vh;
  height: 100%;

  &__header a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	color: $dark-grey-color;
	padding: 1rem;
	font-size: 18px;
  }
  &__header a:hover {
	text-decoration: none;
	color: $dark-grey-transparent-color;
  }
  &__items {
	display: flex;
	flex-direction: column;
	&__item {
	  padding: 1.5rem 1rem;
	  display: flex;
	  align-items: center;
	  color: $dark-grey-color;
	  &__icon {
		color: $dark-grey-color;
	  }
	  &__text {
		padding-left: 1rem;
	  }
	}
	&__item:hover {
	  background: $green-blue;
	  text-decoration: none;
	  color: $light-background;
	}
  }
}

@media screen and (max-width: 992px) {
  .nav-container {
	align-items: center;

	&__items {
	  font-size: 20px;
	}
  }
}