@import "../../../main";

.discount {
  min-height: 100vh;
  padding: 0 17rem;
  &__header {
	background: $dark;
	color: $dark-grey-color;
	padding: 1rem;
	border-radius: 5px;
	font-size: 20px;
	text-align: center;
  }
}