.action-on-products-container {
  &__menu {
	display: flex;
	justify-content: space-around;
	&__item {
	  display: flex;
	  flex-direction: column;
	  box-shadow: 1px 1px 10px 5px;
	}
  }
  &__menu a {
	display: flex;
	justify-content: center;
	width: 20rem;
	background: #252525;
	color: #d3d3d3;
	min-height: 20rem;
	align-items: center;
	margin-top: 2rem;
  }
  &__menu a:hover {
	background: #17a2b8;
	text-decoration: none;
  }
}
