.container-products {
  padding-right: 0;
  padding-left: 0;
  &__how-to-show {
    margin-bottom: 2rem;
    display: flex;
    justify-content: flex-end;
    background: #252525;
    padding: .75rem;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.125);
    &__sort {
    }
  }
  &__how-to-show select {
    max-width: 10rem;
    font-size: 11px;
    margin-right: 1rem;
    border: none;
    cursor: pointer;
    font-weight: 600;
    height: 2rem;
    border-radius: 3px;
  }
  &__how-to-show select:focus {
    box-shadow: 1px 1px 10px 4px rgba(10,150,170,.3);
  }
  &__how-to-show select option {
    cursor: pointer;
  }
  &__row {
    margin-right: 0;
    margin-left: 0;
    &__item {
      padding: 0 .2rem .2rem .2rem;
    }
  }
}

.pagination-box {
  display: flex;
  justify-content: center;
  &__pagination {
    padding-top: 2rem;
  }
}