.user-edit-container {
  padding: 2rem;
  &__header {
	padding: 1rem;
	background: #252525;
	color: #d3d3d3;
  }
  &__search-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem;
  }
  &__search-box input {
	width: 50%;
  }
  &__product-list-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	&__list-group {
	  width: 50%;
	  &__item {
		cursor: pointer;
	  }
	  &__item:hover {
		background: #f3f3f3;
		color: #252525;
	  }
	}
  }
}