.info_container {
  background: #252525;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 5rem 0 5rem;
  margin: 0;
  font-size: 13px;
  &__left {
  }
  &__right {
	align-items: center;
	display: flex;
	justify-content: flex-end;
	&__menu-item {
	  display: flex;
	  padding: 0.5rem;
	  &__sub {
		display: flex;
	  }
	  &__sub-menu {
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	  }
	}
	&__menu-item a {
	  color: #bbb4b5 !important;
	  font-weight: normal;
	  padding: 0 0.5rem 0 0.5rem;
	}
	&__menu-item a:hover {
	  color: #925e5d !important;
	}
  }
  &__left a {
	color: white !important;
	font-weight: normal;
	border-right: 1px white solid;
	padding-right: 0.5rem;
	padding-left: 0.5rem;
	text-decoration: none;
  }
  &__left a:hover {
	color: #925e5d !important;
  }
}

@media screen and (max-width: 1200px) {
  .info_container {
	&__right {
	  justify-content: center;
	}
	&__left {
	  display: flex;
	  justify-content: center;
	}
  }
}

