.info_container{
  background: #252525;
  color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 0 5rem 0 5rem;
  font-size: 14px;
  &__left{
	display: flex;
	justify-content: space-between;
	&__menu-item{
	  padding: 0.5rem;
	}
  }
  &__right{
	display: flex;
	justify-content: space-between;
	&__menu-item{
	  padding: 0.5rem;
	  &__sub{
		display: flex;
	  }
	}
	&__menu-item a{
	  color: #bbb4b5 !important;
	  font-weight: normal;
	  padding: 0 0.5rem 0 0.5rem;
	}
	&__menu-item a:hover{
	  color: #925e5d !important;
	}
  }
  &__left a{
	color: white !important;
	font-weight: normal;
	border-right: 1px white solid;
	padding-right: 0.5rem;
	text-decoration: none;
  }
  &__left a:hover{
	color: #925e5d !important;
  }
}